body{ margin:0px; padding:0px; font-family: tahoma;}
.tab_log{position:absolute; width:285px; background:rgba(255, 255, 255, .9); height:340px;left: 50%;margin-left: 215px;top: 25px;z-index: 9;}
.tab_log_nav{display:block; overflow:hidden;}
.tab_log_nav a{display:inline-block; float:left;  line-height: 47px;text-decoration: none;text-align: center;color: #9a9a9b;font-size: 15px;background: rgba(0, 0, 0, .02);}
.tab_log_nav a:hover{color:#575757;}
.tab_log_dn{border-left:none;width: 180px;text-align: center;border-bottom: 1px solid #e1e1df;border-right: 1px solid #e1e1df;}
.tab_log_dn.active{border-bottom:none; background:none;color: #575757;}
.tab_log_dk{border-right:none;border-bottom: 1px solid #e1e1df;width: 104px;}
.tab_log_dk.active{border-bottom:none; background:none; color:#575757;}

.tab_content{display:block; margin: 20px;height: 253px;position: relative;font-family: tahoma;}
.tab_content .tab_cont_item{
    display: none;
}
.tab_content .tab_cont_item:first-child{
    display: block;
}
.tab_content input[type="text"], .tab_content input[type="password"]{background:rgba(0, 0, 0, .1); border:none; display:block; overflow:hidden; padding-left:10px;line-height: 35px;
    height: 35px;width: 235px;margin-top: 10px;outline: none;}
.tab_content .forget_pass{float:right; display:inline-block;font-size: 13px;color: #0099ff;text-decoration: none;line-height: 25px;}
.ctrl_log{position:absolute; bottom:0px;width: 100%;}
.ctrl_log .submit_log{font-size:15px; color:#fff; background:#ff6503; text-align:center; display:block; height:45px;text-decoration: none;width: 100%;border:none;}

.ctrl_log .block_share{text-align:center;margin: 0px;margin-top: 10px;line-height: 25px;height: 25px;display: block;}
.ctrl_log .block_share a{background:url(../images/icon_share.png) no-repeat; display:inline-block; width:25px; height:25px;}
.ctrl_log .block_share a:hover{background:url(../images/icon_share_hover.png) no-repeat;}
.ctrl_log .block_share .btn_log_gg{background-position: -34px 0px; padding-right:10px; border-right: 1px solid #e4e3e3;}
.ctrl_log .block_share .btn_log_gg:hover{background-position: -34px 0px;}
.ctrl_log .block_share .btn_log_face{margin-left:10px;}

.tab_content p.dksd{margin:0px; display:block;font-size: 13px;color: #999;line-height: 20px;}
.tab_content p.dksd a{color: #0099ff;text-decoration: none;}

span.error {
    color: #cb0d0d;
    display: block;
    font-family: tahoma;
    font-size: 11px;
    line-height: 20px;
    margin-bottom: 5px;
    margin-top: -10px;
}

.ajax-loading-mini {
    background: transparent url("../img/v2/ajaxloading.gif") no-repeat scroll 0 0;
    height: 11px;
    margin: 0 auto;
    width: 50px;
}





